/*hide on small only*/
    .background.hide-on-small-only {
        background-image: url('images/movieSet.jpeg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 450px;
    }

    /*hide on med and up*/
    .background.hide-on-med-and-up {
        background-image: url('images/movieTheater.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    h1 {
      text-align: center;
      font-family: 'Baloo Chettan', cursive;
      /*font-size: 100px;*/
      /*color: #FFB544;*/
      font-size: 8.5vh;
      font-size: 8.5vw;
    }

    main p {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        /*font-size: 30px;*/
        color: #FFB544;
        font-size: 4vh;
        font-size: 3.5vw;

    }

    /* label underline focus color */
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #FFB544;
        box-shadow: 0 1px 0 0 #FFB544;
    }
    .searchBtn {
        margin-bottom: 50px;
    }


    iframe {
        border: none;
        width: 100%;
        height: 362px;
    }

    /*info button on movie poster card*/
    .card .card-action {
        padding: 2px;
    }
    .btn {
        align-items: center;
    }
    .modal-content h4 {
        font-size: 25px;
        text-align: center;
    }
    .modal-content p {
        font-size: 15px;
    }
    hr {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    h4 {
        font-family: 'Nunito', sans-serif;
    }

    /* link icons */
    .sites img {
      margin-left: 2%;
      height: 50px;
      width: 50px;
    }

    #sorryMsg {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 20px;
      color: red;
    }

    /*footer*/
    footer h5 {
      font-size: 30px;
      font-family: 'Baloo Chettan', cursive;
    }
    .grey-text.text-lighten-4 {
      margin-top: -5px;
    }

    footer p {
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
    }
