h1 {
    text-align: center;
    font-family: 'Baloo Chettan', cursive;
    font-size: 100px;
}
.background {
    background-image: url('https://hd.unsplash.com/photo-1452745872182-022042dead8f');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}
main p {
    text-align: center;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Gloria Hallelujah', cursive;*/
    /*font-family: 'Architects Daughter', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
}
.btn {
    margin-bottom: 50px;
}
iframe {
    border: none;
}
.media {
    margin: auto;
}
.sites {
    display: inline;
}
#card-content {
    font-size: 16px;
    font-weight: bold;
}
